@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font: 16px;
    font-family: inter, serif;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    height: 67px;
    width: 100%;
    border-bottom: 1px solid rgb(238, 226, 226);
    display: flex;
    align-items: center;
    background:#fff;
}

.zerodha-logo {
    height: 16.8px;
    margin: 0 400px;
}

.navlist {
    height: 10vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navlist > ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-right: 24rem;
}


.navlist > ul > li {
    padding: 0 1rem;
    margin-left: 0.7rem;
    font-size: 0.9rem;
}

.navlist > ul > li > a {
    color: #666;
    text-decoration: none;
}

.navlist > ul > li:hover,
.navlist > ul > li > a:hover {
    color: #387ed1;
    cursor: pointer;
}

.navlist > ul > li > div:nth-child(1),
.navlist > ul > li > div:nth-child(2),
.navlist > ul > li > div:nth-child(3) {
    height: 2px;
    width: 18px;
    margin: 4px 0;
    background-color: #222020;
}

.landing-page-div {
    margin-top: 9vh;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-div > img {
    height: 45.2vh;
    width: 53vw;
}

.flex-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 2.75rem;
    font-weight: 540;
    color: #424242;
}

.content {
    word-spacing: 1px;
    text-align: center;
    color: #424242;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    margin: 1rem;
}

.signup-now {
    border: none;
    background-color: #387ed1;
    margin: 2rem;
    padding: 0.7rem 2rem;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 550;
}

.signup-now:hover {
    background-color: #222020;
}

.largest-broker-page{
    width: 1100px;
    height: 454px;
    display: flex;
    margin-left: 390px;
    margin-top: 120px;
}

.largest-broker > img{
height: 276px;
width: 433px;
margin-top: 25px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
}

.lb-content{
    width: 528px;
    height: 334px;
    margin-left: 161px;
    display: block;
    justify-content: flex-start;
    align-items: center;
    background: hsl(0, 0%, 100%);
    font-weight: 500;
}

.lb-content > h1{
    font-size: 32px;
    font-weight: 500;  
}

.lb-content > p{
    color: #424242;
}

.lb-content-list1{
    height: 70px;
    width: 253px;
    display:inline-flex;
    justify-content: space-between;
    flex-direction: column;
    color: #424242;
}

.lb-content-list2{
    height: 70px;
    width: 253px;
    display:inline-flex;
    justify-content: space-between;
    flex-direction: column;
    color: #424242;
}

.lb-list{
    display: flex;
    flex-direction: row;
}

.press-logo > a > img{
    margin-top: 32px;
    width: 528px;
    height: 30px;
}

.press-logo:hover{
    opacity: 0.7;
}

.ecosystem{
    height: 777px;
    width: 1100px; 
    margin: auto;  
    display: flex;
    flex-direction: row;
}

.ecosystem-contents{
    height: 705px;
    width: 433px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.ecosystem-contents > h2{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 40px;
}

.ecosystem-contents > h3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    color: #3f3f3f;
}

.ecosystem-contents > p{
    color: #74655b;
    font-size: 16px;
    padding-bottom: 32px;
}

.ecosystem-image-container{
    height: 755px;
    width: 623px;
}

.ecosystem-image > img{
    height: 589px;
    width: 600px;
    display: block;
    margin-left: 23px;
}

.explore{
    height: 29px;
    width: 600px;
    margin-left: 23px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.pricing{
    height: 310px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
}

.pricing-container1{
    height: 190px;
    width: 433px;
    margin-left: 35px;
}

.pricing-container2{
    height: 190px;
    width: 253px;
    margin-left: 70px;
    border: 1px solid #ccc;
    border-right: 0.5px solid #ccc;
}

.pricing-container3{
    height: 190px;
    width: 253px;
    border: 1px solid #ccc;
    border-left: 0px;
}

.pricing-container1 > p{
    color: #74655b;
    font-size: 16px;
    padding-bottom: 20px;
}

.pricing-container1 > h1{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
}

.pricing-container2 > h4{
    font-size: 40px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-container3 > h4{
    font-size: 40px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-container2 > p{
    font-size: 16px;
    font-weight: 500;
    color: #74655b;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pricing-container3 > p{
    font-size: 16px;
    font-weight: 500;
    color: #74655b;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education{
    height: 426px;
    width: 1100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}

.varsity > img{
    height: 317px;
    width: 433px;
    margin-bottom: 108px;
}

.market-education{
    height: 426px;
    width: 528px;
    display: flex;
    align-items:flex-end;
    flex-direction: column;
}

.market-education > h5{
    height: 41px;
    width: 528px;
    padding-top: 6px;
    padding-bottom: 10px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    font-size: 24px;
}

.market-education > p{
    font-size: 16px;
    color: #424242;
}

.detail-box{
    height: 808px;
    width: 1881px;
    background-color: rgb(251, 251, 251);
    border-top: 1px solid hsla(0, 2%, 83%, 0.473);
}

.detailing-container-box{
    height: 334px;
    width: 1100px;
    margin: 48px auto;
    display: flex;
    justify-content: space-between;
}

.detailing-container2 > h4{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.detailing-container3 > h4{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.detailing-container4 > h4{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.detailing-container1{
    height: 100%;
    width: 242px;
}

.detailing-container1 > img{
    width: 152px;
    height: 20px;
}

.detailing-container1 > p{
    font-size: 12.8px;
    color: #424242;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 25px;
}

.icons1 i{
    height: 27px;
    width: 27px;
    display: inline-block;
    justify-items: center;
    padding-bottom: 12px;
    margin-right: 10px;
    font-size: 20px;
    color: #615f5d;
}

.icons2 i{
    height: 27px;
    width: 27px;
    display: inline-block;
    margin-right: 10px;
    padding-top: 20px;
    font-size: 20px;
    color: #615f5d;
}

.detailing-container1-icon1 > hr{
    color: #9a9a9a8f;
    border: none;
    border-bottom: 1px solid #eee;
}

.detailing-container2{
    height: 100%;
    width: 242px;
    line-height: 32px;
}

.detailing-container3{
    height: 100%;
    width: 242px;
    line-height: 32px;
}

.detailing-container4{
    height: 100%;
    width: 242px;
    line-height: 32px;
}

.detail-box-content{
    height: 350px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.detail-box-content > p{
    font-size: 10.4px;
    color: #aab0bc;
}

.detail-box-items{
    height: 48px;
    width: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.detail-box-items > a{
    color: #aab0bc;
    font-size: 12px;
}

.detail-box-content > a:hover{
    color: hsl(213, 85%, 51%);
}