*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.main-container{
    border: 8px solid black;
    padding: 40px;
    width: 60%;
    background-color: #bbb7d4d7;
}

.top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.image-container{
    width: 315px;
    height: auto;
}

.image-container img{
    width: 100%;
    height: auto;
    border-radius: 200px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .text-container h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 20px;
    margin: 10px;
    text-align: right;
  }
  
  .text-container h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    margin: 10px;
  }

  .middle-container{
    padding: 20px;
  }

  .middle-container h1{
    font-style: normal;
    font-family: "inter";
    font-weight: 500;
    font-size: 3vw;
    line-height: 20px;
    margin: 10px;
  }

  .main-container p{
    margin: 40px 10px;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;font-style: 12px;
    line-height: 22px;
    text-align: justify;
  }

  .bottom-container{
    padding: 20px;
  }

  .bottom-container ul li{
    margin: 10px 28px;
    font-size: 18px;
    font-family: "inter";
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    text-align: justify;
  }

  .bottom-container h6{
    margin: 10px;
    font-family: "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  .footer-container{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }

  .footer-container span{
    font-family: "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }